Hey, <br /><br />
You got banned for violating the following rule:
<div>
  <ul>
    <li>1.1: Respect other players! Insulting, trolling and derogatory comments are strictly forbidden.</li>
  </ul>
  <br />
  You violated this rule by doing the following:
</div>
<div>
  <ul>
    <li>&lt; PUT THE THINGS THE PLAYER DID HERE &gt;&nbsp;</li>
  </ul>
  <br />
  According to rule 10.3 we cannot show you the evidence which lead to this penalty for privacy reasons of the person who reported you.
  <br />
  <ul>
    <li>
      10.3: The staffers are authorized to provide explanations only and &amp; exclusively to the user who has received the sanction&nbsp;(only
      via ticket). However, the user will not be able to get logs/screenshots of the evidence to protect reporter's privacy.
    </li>
  </ul>
</div>
