Hey,<br /><br />You got banned for violating the following rules:
<div>
  <ul>
    <li>12.1: It is not allowed to go AFK during a mode.</li>
    <li>12.2: Griefing or intentionally sabotaging your own team is not allowed.</li>
    <li>
      12.2.1 The repeating of actions against the benefit of the own team is considered as trolling (examples below)<br />
      <div>a) Intentionally not supporting the team members in the modes. (applies especially to Priest)</div>
      <div>b) The intentional and senseless running into opposing teams.</div>
      <div>c) The prioritized behavior of offensively using damage skills in situations that are particularly not suitable for it will be considered as trolling for the Priest class.
      <br />
      </div>
    </li>
    <li>
      12.4: Donating life with the intention of leaving the Battle Royal prematurely is prohibited. If you violate this rule, your account will
      be sanctioned according to rule 12.2
    </li>
  </ul>
</div>
<div>
  <br />You violated these rules by doing the following things:<br /><br />According to rule 10.3 we cannot show you the video proof which is
  existing for privacy reasons of the person who reported you.<br />
  <ul>
    <li>
      10.3: The staffers are authorized to provide explanations only and exclusively to the user who has received the sanction&nbsp;(only via
      ticket). However, the user will not be able to get logs/screenshots of the evidence to protect reporter's privacy.
    </li>
  </ul>
</div>