Hey, <br /><br />
You got banned for violating the following rules:
<br /><br />
You violated these rules by doing the following:
<br /><br />
According to rule 10.3 we cannot show you the evidence which led to this penalty for
privacy reasons of the person who reported you.
<br />
<ul>
  <li>
    10.3: The staffers are authorized to provide explanations only and
    exclusively to the user who has received the sanction&nbsp;(only via
    ticket). However, the user will not be able to get logs/screenshots of the
    evidence to protect reporter's privacy.
  </li>
</ul>
