Hey,
<div><br /></div>
<div>
  Thank you for reaching out to us regarding your issue.<br /><br />When your router disconnects or if your game crashes - but in general, the
  reason does not matter - and you do not come back in time, you effectively let your team down which is a rule violation (12.1). Previously, if
  you would get reported for it, a full battlemode ban would have been issued (stacking would have been: 2 days → 4 days → 6 days → 8 days → 16
  days → 24 days → 30 days), but now our much more lenient AFK protection system bans you only for some hours instead with its own independent
  stacking (2h → 4h → 8h → 12h → 16h → 24h → 72h ; it resets if you do not get banned by the system for 30 days).
</div>
<div><br /></div>
<div>
  This is because every mode is balanced to player counts, class counts, some of them even consider the EQ of players, and since most of the
  modes take about 30 minutes, if you are not present for even like 3 minutes, it is already 10% of the mode where your team has to play without
  you. It is really unfortunate that you maybe think that you would do nothing wrong with not being present and letting your teammates down. Of
  course, we know, sometimes the game crashes due to bugs we still have in the code, but starting it again and reconnecting to the mode maybe
  takes about a minute, but even if it would take up to 2 minutes, the system would not ban you, only if it is longer than that when we start to
  approach 3 minutes or more (it's a bit different depending on the mode). We had to do this because people going AFK or disconnecting has gotten
  so out of hand, that even mass PVP modes were unplayable due to the huge amount of player having the same "issues" as you and maybe "not doing
  anything wrong" in the process. But since the system exists, it has gotten way better again, so the results speak for themselves.
</div>
<div><br /></div>
<div>
  Please also note that every modern game has a similar system, so if you disconnect or crash for ~3 minutes in games like League of Legends or
  Counter Strike 2, you would also be automatically banned for it by their system. Therefore, please accept that we also implement this common
  practice. And while there sometimes might be reasons for not being back in the game in like 2 minutes, and it taking way longer after a crash
  or disconnect, the reasons do not change anything about the fact that in that situation, you are simply not present and playing the game with
  your teammates, effectively letting them down, and even when only a few people do this or if it happens to them, it shifts the balance of the
  teams fighting significantly. And lastly, while you claim that there might have been good or noble reasons for you disconnecting or not being
  present, it is also simply unprovable, we can only see that you are gone, but we can never know if you interrupted your connection
  intentionally or not, and even if you crash and send in a bugsplat, it is also not possible to determine if the crash was caused by a bug that
  we have to take responsibility for, or if it is due to some issue on your system. Therefore, the only thing that matters is how fast you are
  back in the game and in the mode, and if you just take 2+ minutes to do that, it is absolutely normal and intended to get banned by the system
  as I explained earlier.
</div>
<div><br /></div>
<div>
  I hope this addresses your concerns at least a bit, and clarifies why things are how they are. If you have any further questions about this,
  feel free to reach out again.
</div>