Hello,
<br><br>
you got banned for violating the following Rules:

You violated these Rules by doing the following Things:




    According to Rule 10.3 we cannot show you the video proof which is existing for privacy reasons of the person who reported you.
    <br><br>
    <ul>
        <li>
            <span>
                1
            </span>
            <span>
                0
            </span>
            <span>
                .3
            </span>
            <span>
                : The staffers are authorized to provide explanations only and exclusively to the user who has received the sanction 
            </span>
            <span>
                (only via ticket
            </span><span>
                )
            </span>
            <span>
                . However
            </span><span>
                , the user will not be able to get logs
            </span><span>
                /screenshots of the evidence to protect reporter
            </span><span>
                's privacy
            </span><span>
                .
            </span>
        </li>
    </ul>
 