Hey,
<br />
<br />
Unfortunately, we have to decline your request according to rule 5.4 because the conditions outlined in the rule are sadly not met.
<br />
<ul>
  <li>
    5.4: You can submit a request to make a character name available again. The last login of the character's account must be at least 90 days
    ago, and it must not be level 93. The level requirement does not count for banned characters.
  </li>
  <ol>
    <li>
      <span
        >If the character IS level 93 and the account is NOT permanently banned → the name will never become available unless either of the two
        conditions change.</span
      ><br />
    </li>
    <li>
      <span
        >If the character IS level 93 and the account IS permanently banned → the last login of the character's account must still be at least 90
        days ago.</span
      >
    </li>
    <li><span>If the character is NOT level 93 → the last login of the character's account must be at least 90 days ago.</span></li>
  </ol>
</ul>
<div><br /></div>
<div>In case of your request, we had to decline it because of:</div>
<div>
  <ul>
    <li><br /></li>
  </ul>
</div>
