Hey,<br /><br />To process your report, we need more information according to these rules:<br />
<ul>
  <li>
    8.4: Make it clear who you are reporting! If you send a long video, please specify the time of the misbehavior and the name of the
    character.<br />
  </li>
  <li>8.5: Reports without screenshots or videos will be ignored.<br /></li>
  <li>8.4.1: All screenshots must be sent to us in full screen mode. Otherwise, the Vision Team may refuse to process the ticket.<br /></li>
  <li>3.7: Every punishment is given due to a video/screenshot evidence.<br /></li>
</ul>
<br />
<div>Please provide the requested information.</div>
