Hey,<br /><br />In order for us to be able to process your report, please make sure that you have provided ALL the information according to these
rules (if applicable for your case):
<div>
  <ul>
    <li>8.5: Reports without screenshots or videos will be ignored.</li>
    <li>
      <span>8.4.1: All screenshots must be sent to us in full screen mode. Otherwise, the Vision Team may refuse to process the ticket.</span>
    </li>
    <li>
      8.4: Make it clear who you are reporting! If you send a long video, please specify the time of the misbehavior and the name of the
      character.
    </li>
    <li>3.7: Every punishment is given due to a video/screenshot evidence.<br /></li>
  </ul>
  <div><br /></div>
  <div>
    For more information and details, please refer to the&nbsp;<a
      href="https://discord.com/channels/617338243381329920/1325446088617889822/1325469120107384853"
      target="_blank"
      >"report-a-player" channel</a
    >&nbsp;on our Discord Server. In this channel, we outlined and described the most common mistakes players usually do when trying to send in a
    report, as well as best practices on how to avoid making them.
  </div>
  <br />
  <div>Therefore, please provide the missing information, otherwise, we cannot move forward with your report!</div>
</div>
