<div>Hey,</div>
<div><br /></div>
<div>
  Your account is involved in a real world trading case (rule 17.2 in
  combination with rule 2.3/3.11) and has therefore received a trading
  suspension.
</div>
<div>
  <ul>
    <li>
      17.2: Real world trading items is not allowed either. Both buying and
      selling is equally punished with a permanent trade restriction of all your
      accounts. Note: After 60 days, you can apply once for an unban request,
      but all illegal gold or items will be removed.<br />
    </li>
    <li>
      2.3: Account sharing is allowed - at your own risk!
      <b><i><u>Note: It is generally possible that your own account may be
            assigned to others as a "secondary account" due to account sharing,
            which may result in corresponding penalties and sanctions imposed on
            your own account as well.</u></i></b><br />
    </li>
    <li>
      3.11: Should you violate our rules with a so-called "twink" or "second
      account", we reserve the right to ban the "main account" as well. The ban
      duration of the main account will be determined based on previous
      violations Note: It is generally possible that your own account may be
      assigned to others as a "secondary account" due to account sharing, which
      may result in corresponding penalties and sanctions imposed on your own
      account as well.
    </li>
  </ul>
</div>
<div><br /></div>
<div>
  Your account has been assigned to "pragmatiki123@gmx.com" as a second due to
  his logins on your account, but also due to your logins on his accounts:
</div>
<div>
  <ul>
    <li>His logins on your account:&nbsp;xxx times going back to 'xxx'.</li>
    <li>Your logins on: xxx&nbsp; -&nbsp; xxx times</li>
  </ul>
  <br />
</div>
<div>
  Please note that this situation is exactly why rule 2.3 as well as 3.11 exist.
  However, we would still offer you the following compromise:
</div>
<div>
  <ul>
    <li>
      To lift your tradeban BUT also to prevent your account from being involved in
      such matters again, we would impose a 1-year account-sharing
      restriction. This restriction will only allow you to log into your account
      and no one else. However, you can still log into other accounts. The
      restriction will automatically end after one year.
    </li>
  </ul>
  <div><br /></div>
</div>
<div>
  Otherwise, if you choose to not accept this compromise, due to your account being
  assigned as a second account, you would need to apply for an unban request in
  60 days on the designated main account ("<span>xxx</span>") and pay the mandatory compensation according to the note
  of rule 17.2 there.</span>
</div>
<div>
  <span><br /></span>
</div>
<div>
  <b><i><u>Do you agree to the compromise? Yes/No.</u></i></b>
</div>
