<div>Hey,</div>
<div><br /></div>
<div>
  Your account is involved in a real world trading case (rule 17.2) and has
  therefore received a trading suspension.
</div>
<div><br /></div>
<div>
  We formally accuse you of having made the following illegal trade(s) on your
  account with the following character(s):
</div>
<div>
  <ul>
    <li><br /></li>
  </ul>
  <div><br /></div>
  <div>⇒ Total amount:</div>
  <div><br /></div>
  <div>
    <div>
      We would kindly request a comprehensive breakdown of all these
      transactions, please provide further details.<br />
    </div>
  </div>
  <div><br /></div>
  <div>Furthermore, please note that the following rules exist:</div>
  <div>
    <ul>
      <li>
        17.3:&nbsp;You can appeal for Real World Trading bans only showing
        proofs of your innocence.
      </li>
      <li>
        17.5: Faking real world trading proofs will lead to a permanent ban of
        all your accounts.
      </li>
    </ul>
  </div>
  <div>
    <div><br /></div>
    <div>
      Remember, lying in an attempt to mitigate the punishment or get out of it
      altogether will lead to the exact opposite:
    </div>
  </div>
</div>
<div>
  <ul>
    <li>
      3.14: A proven false statement or lie after receiving a penalty in order
      to mitigate the penalty may result in an extension of the punishment and
      possible termination of the ticket conversation.
    </li>
  </ul>
  <div><br /></div>
</div>
<div>
  So please don't try to fool us. Additional rule violations will be subject to
  higher penalties.&nbsp;This ban will not be lifted easily, as you have the
  burden of proof here to present solid evidence of your innocence.
</div>
<div><br /></div>
<div>Please note:</div>
<div>
  <ul>
    <li>
      Of course there is evidence, otherwise no bans would have been imposed.
    </li>
    <li>
      Evidence is generally not shared with third parties to protect the privacy
      of reporting players.
    </li>
    <li>
      The trade in question, which is declared as a real world trade, may
      already have taken place several days, weeks or months ago.
    </li>
    <li>
      If you have shared your account, you must also bear the consequences and
      thus this penalty, even if someone else has committed the rule violation
      on your account.
    </li>
    <li>
      Any proven non-accidental involvement in a RWT case may result in a
      penalty.
    </li>
  </ul>
  <div><br /></div>
</div>
<div>
  Please be aware that this trade restriction is initially permanent, however,
  according to rule 17.2 and its note, you may apply once for an unban request
  60 days after the ban was initially issued, but the amount of all illegally
  traded gold/items would be removed and [SA]Daveey decides on that request. You
  would just need to create a fresh ticket containing your unban request when
  it's time.<br /><br />
</div>
<div>Best Regards</div>